<div id="preview-container" class="bg-blue-900" [style.background-image]="'url(' + store.state.alpaca.backgrounds + ')'">
  <img id="hair" [src]="store.state.alpaca.hair" alt="alpaca-hair" class="hair">
  <img id="ears" [src]="store.state.alpaca.ears" alt="alpaca-ears" class="ears">
  <img id="eyes" [src]="store.state.alpaca.eyes" alt="alpaca-eyes" class="eyes">
  <img id="mouth" [src]="store.state.alpaca.mouth" alt="alpaca-mouth" class="mouth">
  <img id="nose" [src]="store.state.alpaca.nose" alt="alpaca-nose" class="nose">
  <img id="neck" [src]="store.state.alpaca.neck" alt="alpaca-neck" class="neck">
  <img id="leg" [src]="store.state.alpaca.leg" alt="alpaca-leg" class="leg">
  <img id="accesories" [src]="store.state.alpaca.accessories" alt="alpaca-accesories" class="accessories">
</div>